extends nav

include ./mixins.jade

block page
	.row
		section.col-md-9
			h1 About Me
			p
				img.img-responsive(src='/img/zbynek_stara_photo.jpg')
			p
				| My name is Zbynek Stara and I am originally from Prague, Czech Republic. 
				| I currently live in Abu Dhabi, in the United Arab Emirates, and, as you can see, I enjoy it very much!
				| I created this website for two reasons; to show off my best work in 
				a(href='/portfolio') my portfolio
				|  (hello, employers!), and to share 
				a(href='/articles') tips and tricks
				| &nbsp;I learned while coding. 
				| If you are a fan of software engineering, web development, and/or computer science, this is a good place for you!

			h3 Me and Computer Science
			p
				| My father is an application engineer for a multinational corporation, so I have been around computers since young age. 
				| After studying at Czech schools for 9 years, I was awarded a scholarship to study high school at the 
				a(href='http://www.isp.cz/') International School of Prague
				| . 
				| Since ISP is one of only a few 
				a(href='http://www.ibo.org/en/programmes/diploma-programme/') IB
				|  schools in the world that offer Computer Science, that subject, naturally, became the focus of my studies.
			p
				| My CS career at ISP culminated with Extended Essay research about Multi-Agent Pathfinding (
				a(href='https://github.com/zbynekstara/pathfinder-ui') code
				| ) and NESDA Tournament Manager Dossier project (
				a(href='https://github.com/zbynekstara/nesda-manager') code
				| ), developed in conjunction with our school's Speech and Debate Society (which was easy, since I was the club's president). 
			p
				| After graduating from ISP with the Lion Award for "Outstanding Academic Achievement," I moved to study Computer Science on a scholarship at 
				a(href='http://nyuad.nyu.edu/en/') New York University Abu Dhabi
				| . 
				| I became part of the CS family at NYUAD, participating in the school's 
				a(href='http://nyuad.nyu.edu/en/news-events/conferences/nyuad-hackathon.html') International Hackathon for Social Good in the Arab World
				|  (
				a(href='https://github.com/zbynekstara/badgov') '14
				| , 
				a(href='https://github.com/zbynekstara/SingleDrop') '15
				| ).
			p
				| I cofounded the 
				a(href='http://www.findmethewords.com') Findmethewords
				| &nbsp;online dictionary/language learning tool in sophomore year, which makes it easier for English language learners to recall the words they search for, using the spaced repetition system. 
				| Becoming a part of the university's Online Services and Applications team on an internship, I helped develop the 
				a(href='http://blogs.nyuad.nyu.edu/hackathon/about-hackathon/') '15 Hackathon WordPress site
				| , and the EmailTemplater application (see 
				a(href='/portfolio') my portfolio
				| ).
			p
				| After a year studying away at 
				a(href='http://www.nyu.edu/') NYU in New York
				| , where I helped develop the 
				a(href='http://nyu-cs6313-spring2016.github.io/Group-12-MIMIC-III-Cohort-Exploration/') MIMIC-III Cohort Exploration tool
				| &nbsp;(
				a(href='https://github.com/NYU-CS6313-SPRING2016/Group-12-MIMIC-III-Cohort-Exploration') code
				| ), I went on to intern at Google's Finance Analysis team in Dublin. 
				| I was responsible for visualization of sales metrics by making efficient use of Google's big data.
			p
				| To learn more about my software development experience so far, please refer to 
				a(href='/cv') my CV
				| .

			h3 My Hobbies
			p
				| When I am not coding, you can often find me reading (don't you dare spoil Game of Thrones for me!!), taking photos, or jogging. 
				| Also, I love traveling around the world and discovering more about other cultures (especially through food!).

			h3 Contact Me
			p
				| Do you have questions for me? 
				| Great! 
				| Use one of the links in the 
				a(href='#get_in_touch') Get in Touch panel
				|  and reach out!
			p
				| Do you want to hire me? 
				| Even better! 
				| Use the information in 
				a(href='/cv') my CV
				|  to contact me, or approach me on one of the social networks listed in the 
				a(href='#get_in_touch') Get in Touch section
				| !

		section.col-md-3
			.well
				+get_in_touch
				hr
				+tags(tags)
				hr
				+categories(categories)
				hr
				+archives(archives)