extends nav

include ./mixins.jade

block page
	.row
		section.col-md-9
			if articles.length > 0
				each article in articles
					+article(article)
			else
				h1.no-matches No articles to display

		section.col-md-3
			.well
				+get_in_touch
				hr
				+tags(tags)
				hr
				+categories(categories)
				hr
				+archives(archives)