extends layout

include ./glyphicons.jade

block content
	nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				a.navbar-brand(href='/')
					img.img-responsive.logo(src='img/zbynek_stara_logo.png')

				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav.pull-right
					if (title === 'Home')
						li.active: a(href='/') Home
					else
						li: a(href='/') Home
					if (title === 'About Me')
						li.active: a(href='/about') About Me
					else
						li: a(href='/about') About Me
					if (title === 'Portfolio')
						li.active: a(href='/portfolio') Portfolio
					else
						li: a(href='/portfolio') Portfolio
					if (title === 'CV')
						li.active: a(href='/cv') CV
					else
						li: a(href='/cv') CV

	.container
		block page

		footer.row
			.col-md-12
				hr
				p
					| Built with 
					+random_glyphicon
					|  by Zbynek Stara

					span.pull-right
						| Copyright 
						span.glyphicon.glyphicon-copyright-mark
						|  Zbynek Stara 2015