extends nav

include ./mixins.jade

block page
	.row
		section.col-md-9
			h1 Portfolio
			p
				| A selection of the most significant projects I have recently developed. 
				| For more public repositories, visit 
				a(href='https://github.com/zbynekstara?tab=repositories') my Github page
				| .

			+projects(projects)

		section.col-md-3
			.well
				+get_in_touch
				hr
				+tags(tags)
				hr
				+categories(categories)
				hr
				+archives(archives)