html {
	height: 100%;
}

body {
	height: 100%;
	margin-top: 66px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #331199;
}

a:hover, a:focus {
	color: #008888;
}

#map {
	height: 100%;
}

.no-matches {
	text-decoration: line-through;
}

.white-link {
	color: #FFFFFF;
}

.white-link:hover, .white-link:focus {
	color: #FFFFFF;
}

hr {
	border-color: #331199;
}

.first-tab {
	margin-left: 20px;
}

.container {
	height: 80%;
}

.paragraph {
	margin: 0px 0px 10px;
}

pre.inline {
	display: inline;
	padding: 0;
	border: 0;
	border-radius: 0;
	margin: 0;
}

.navbar-default {
	background-color: #331199;
}

.navbar-default .navbar-toggle {
	border-color: #E7E7E7;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #008888;
}

.navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #008888;
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #331199;
}

.logo {
	height: 20px;
}

.img-circle {
	margin-top: 10px;
	margin-bottom: 10px;
}

.list-element {
	padding-bottom: 3px;
}

.icon {
	height: 17px;
	padding-right: 3px;
}

.panel-primary {
	border-color: #331199;
}

.panel-primary > .panel-heading {
	background-color: #331199;
	border-color: #331199;
}

.thumbnail {
	padding: 0;
	border: 1px solid #331199;
}

.thumbnail-img {
	padding: 10px;
}

.thumbnail-header {
	margin: 0;
	padding: 10px 15px;
	background-color: #331199;
	color: #FFFFFF;
}

.thumbnail-caption {
	padding: 15px;
}

.thumbnail-footer {
	padding: 10px 15px 10px;
	border-top: 1px solid #DDDDDD;
	background-color: #F5F5F5;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.btn {
	border-color: #331199;
	background-color: #331199;
}

.btn:hover, .btn:focus {
	border-color: #331199;
	background-color: #008888;
}

.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus {
	border-color: #331199;
	background-color: #F5F5F5;
	color: #331199;
	text-decoration: line-through;
}

.pagination > li > a {
	color: #331199;
}

.pagination > li > a:hover {
	color: #008888;
	text-decoration: underline;
	background-color: #FFFFFF;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #331199;
	border: 1px solid #DDDDDD;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover {
	color: #CCCCCC;
	text-decoration: none;
}